.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.clockDisplay {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu {
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:3rem;
    justify-content: space-between;
}